/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #f8f8f8;
  --whiteo: #f8f8f84e;
  --black: #252326;
  --blue: #6D758C;
  --turkishblue: #7EADBF;
  --beige: #F2CEAE;
  --orange: #F29863;
}

/* semantic color variables for this project */


@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
